<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Detect.Properties.Settings.HBXgetCatWait" connectionString="Data Source=HUANGXIXI;Initial Catalog=HBX;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Detect.Properties.Settings.HBXConnectionString" connectionString="Data Source=DZCJ-PC\SQLEXPRESS;Initial Catalog=HBX;Persist Security Info=True;User ID=zj;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="Detect.Properties.Settings.ZJ_VMASConnectionString"
            connectionString="Data Source=LUCKYZJIAN-PC\SQLEXPRESS;Initial Catalog=ZJ_VMAS;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>