<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="VMAS1._0.Properties.Settings.ZJ_VMASConnectionString"
   connectionString="Data Source=LUCKYZJIAN-PC\SQLEXPRESS;Initial Catalog=ZJ_VMAS;Persist Security Info=True;User ID=sa;Password=123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="mobileCharacter" value="server=localhost;Initial Catalog=VMAS;uid=zjian;pwd=123"/>
		<add key="user" value="server=.;database=VMAS;uid=zj;pwd=123"/>
	</appSettings>
</configuration>